.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  gap: 32px;
}

.cardsRow,
.cardsRow > .col,
.card {
  min-width: 0!important;
}

@media (max-width: 996px) {
  .col {
      --ifm-col-width: 100%;
      flex-basis: var(--ifm-col-width);
      margin-left: 0;
   }
}

.cardContainer {
  border: 1px solid #2d2e30;
  border-radius: 12px;
  padding: 32px;               /* marge interne EXACTE */
  background-color: #212122;   /* surface */
  height: 125px;               /* hauteur FIXE */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: border 150ms ease, box-shadow 150ms ease;
}

.cardContainer:hover {
  border-color: #d94c4c;
  box-shadow: 0 1.5px 3px #0004;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  margin-bottom: 24px;  /* écart texte <-> titre */
}

.text--truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cardDescription {
  color: var(--ifm-color-content);
  font-size: 0.95rem;
  line-height: 1.4;
}

