.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.cardContainer {
  display: flex !important;
  flex-direction: column;
  height: 100%;
  border-radius: 12px;
  border: 1px solid var(--ifm-color-emphasis-800);
  background: var(--ifm-card-background-color);
  padding: 1.5rem !important;
  transition: all var(--ifm-transition-fast) ease;
}

.cardContainer:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: 0 3px 6px 0 #0003;
}

.card {
  display: flex;
  background: var(--ifm-card-background-color);
  padding: 1.25rem;
  border-radius: var(--ifm-card-border-radius);
  border: 1px solid var(--ifm-color-emphasis-300);
  flex-direction: column;
  overflow: hidden;
}

a:hover {
    color: var(--ifm-link-hover-color);
    text-decoration: var(--ifm-link-hover-decoration);
}

.card a {
  color: var(--ifm-link-color);
  text-decoration: var(--ifm-link-decoration);
}

.card h2 {
    font-size: 1.2rem;
}

.cardDescription {
    font-size: 0.8rem;
}

.card p {
  margin: 0 0 var(--ifm-paragraph-margin-bottom);
}

.text--truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.padding--lg {
    padding: 2rem !important;
}