/* Grille responsive */
.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 32px 32px;
}

/* Cartes */
.cardContainer {
  height: 125px;
  padding: 32px;
  background: #1b1b1d;
  border: 1px solid #2d2e30;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
}

.cardContainer:hover {
  border-color: #d94d4c;
}

/* Titre */
.cardTitle {
  font-weight: 700;
  color: #fff;
  margin-bottom: 24px;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Texte */
.cardText {
  margin: 0;
  color: #d0d0d0;
  font-size: 0.95rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Carte Next */
.nextCardWrapper {
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
}

.nextCard {
  padding: 32px;
  border: 1px solid #2d2e30;
  width: 520px;
  text-decoration: none !important;
  transition: border 0.2s ease;
}

.nextCard:hover {
  border-color: #d94d4c;
}

.nextTitle {
  margin: 0;
  color: #fff;
  font-weight: 700;
}
