.container {
    margin: 0 auto;
    max-width: var(--ifm-container-width)
}

.container--fluid {
    max-width: inherit
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--ifm-spacing-horizontal) * -1);
}

.col[class*=col--] {
  flex: 0 0 var(--ifm-col-width);
}

@media (max-width: 996px) {
    .col {
        --ifm-col-width: 100%;
        flex-basis: var(--ifm-col-width);
        margin-left: 0;
    }
}

.margin-bottom--lg, .margin-vert--lg {
  margin-bottom: 2rem !important;
}

.col--4 {
    --ifm-col-width: 33.33333%;
}

.col, .container {
    --ifm-col-width: 100%;
    flex: 1 0;
    margin-left: 0;
    max-width: var(--ifm-col-width);
}

.cardContainer {
    --ifm-link-color: var(--ifm-color-emphasis-800);
    --ifm-link-hover-color: var(--ifm-color-emphasis-700);
    --ifm-link-hover-decoration: none;
    border: 1px solid var(--ifm-color-emphasis-200);
    box-shadow: 0 1.5px 3px 0 #00000026;
    transition: all var(--ifm-transition-fast) ease;
    transition-property: border, box-shadow;
}

.card {
    background-color: var(--ifm-card-background-color);
    border-radius: var(--ifm-card-border-radius);
    box-shadow: var(--ifm-global-shadow-lw);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.padding--lg {
    padding: 2rem !important;
}

a {
    color: var(--ifm-link-color);
    text-decoration: var(--ifm-link-decoration);
}

.cardTitle {
    font-size: 1.2rem;
}

.text--truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h2 {
    font-size: var(--ifm-h2-font-size);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--ifm-heading-color);
    font-family: var(--ifm-heading-font-family);
    font-weight: var(--ifm-heading-font-weight);
    line-height: var(--ifm-heading-line-height);
    margin: var(--ifm-heading-margin-top) 0 var(--ifm-heading-margin-bottom) 0;
}

.cardDescription {
    font-size: 0.8rem;
}

p {
    margin: 0 0 var(--ifm-paragraph-margin-bottom);
}