/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #d94d4c;
  --ifm-color-primary-dark: #d94d4c;
  --ifm-color-primary-darker: #d94d4c;
  --ifm-color-primary-darkest: #d94d4c;
  --ifm-color-primary-light: #d94d4c;
  --ifm-color-primary-lighter: #d94d4c;
  --ifm-color-primary-lightest: #d94d4c;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d94d4c0;
  --ifm-color-primary-dark: #d94d4c;
  --ifm-color-primary-darker: #d94d4c;
  --ifm-color-primary-darkest: #d94d4c;
  --ifm-color-primary-light: #d94d4c;
  --ifm-color-primary-lighter: #d94d4c;
  --ifm-color-primary-lightest: #d94d4c;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar__link {
  color: white;
  transition: color 0.3s;
}

.navbar__link:hover {
  color: #d94d4c;
}

.navbar__brand {
  color: white;
  transition: color 0.3s;
}

.navbar__brand:hover  {
  color: #d94d4c;
}

/* Réduit la largeur de la sidebar */
.theme-doc-sidebar-container {
  width: 250px !important; /* valeur par défaut ≈ 300px */
}

/* Réduit un peu le padding intérieur */
.theme-doc-sidebar-container .menu__list-item {
  padding: 4px 0;
}

/* Ajuste le contenu principal pour correspondre */
.theme-doc-main {
  margin-left: 250px !important;
}
