/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #d94d4c;
  --ifm-color-primary-dark: #d94d4c;
  --ifm-color-primary-darker: #d94d4c;
  --ifm-color-primary-darkest: #d94d4c;
  --ifm-color-primary-light: #d94d4c;
  --ifm-color-primary-lighter: #d94d4c;
  --ifm-color-primary-lightest: #d94d4c;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --doc-sidebar-width: 250px !important;
  --ifm-container-width: 100% !important;
  --ifm-container-width-xl: 100% !important;
  --ifm-background-color: #181819;
  --ifm-background-surface-color: #212122;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d94c4c;
  --ifm-color-primary-dark: #d64040;
  --ifm-color-primary-darker: #d33737;
  --ifm-color-primary-darkest: #cc3232;
  --ifm-color-primary-light: #dc5858;
  --ifm-color-primary-lighter: #de6464;
  --ifm-color-primary-lightest: #e67373;
  --docusaurus-highlighted-code-line-bg: #0000004d;
}

@media (min-width: 997px) {
  .row > *[class*="docItemCol_"] {
    max-width: 100% !important;
  }
}

.col.col--3:has(.theme-doc-toc-desktop) {
  max-width: 250px !important;
  width: 250px !important;
  flex: 0 1 250px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navbar__link {
  color: white;
  transition: color 0.3s;
}

.navbar__link:hover {
  color: #d94d4c;
}

.navbar__brand {
  color: white;
  transition: color 0.3s;
}

.navbar__brand:hover  {
  color: #d94d4c;
}

.theme-doc-sidebar-container {
  width: 250px !important;
  flex: 0 1 250px;
}

.theme-doc-sidebar-container .menu__list-item {
  padding: 3px 0;
}

.theme-doc-sidebar-item-link,
.theme-doc-sidebar-item-category .menu__list-item {
  margin-top: 4px;
  margin-bottom: 4px;
}

.menu__link {
  line-height: 1.25;
  font-weight: 600;
  white-space: normal !important;
  word-break: break-word !important;
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  padding: 4px 8px;
  margin: 2px 0;
}

.menu__caret {
  opacity: 0.8;
  transform: translateY(1px);
}

.menu__link--active,
.menu__link--active:hover {
  color: #d94d4c !important;
}

.menu__list-item {
  margin: 0;
  padding: 0;
}

/* === Couleur rouge du texte de la section active dans le fil d’Ariane === */
.breadcrumbs__link--active {
  color: #d94d4c !important; /* rouge vif */
}

/* Devient rouge uniquement au survol */
.breadcrumbs__item:first-child a:hover svg path {
  fill: #d94d4c;
}

/* Bordure rouge au survol */
.pagination-nav__link {
  width: 100%;
  max-width: 804px;
  border: 1px solid #2d2f30;
  border-radius: 12px;
  transition: border-color 0.2s ease;
}

.pagination-nav__link:hover {
  border-color: #d94d4c;
}

/* Titre rouge au hover */
.pagination-nav__link:hover .pagination-nav__label {
  color: #d94d4c !important;
}

.pagination-nav {
  display: flex !important;
  justify-content: flex-end !important; /* <<< met la carte Next à droite */
}

.theme-doc-markdown.markdown {
  max-width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.footer--dark {
    --ifm-footer-background-color: #303846;
    --ifm-footer-color: var(--ifm-footer-link-color);
    --ifm-footer-link-color: var(--ifm-color-secondary);
    --ifm-footer-title-color: var(--ifm-color-white);
}

.footer {
    background-color: var(--ifm-footer-background-color);
    color: var(--ifm-footer-color);
    padding: var(--ifm-footer-padding-vertical) var(--ifm-footer-padding-horizontal);
}

footer .theme-layout-footer-column:first-child .footer__items.clean-list {
  display: grid !important;
  grid-template-columns: repeat(2, minmax(0, 12.5rem)) !important;
}

