/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #d94d4c;
  --ifm-color-primary-dark: #d94d4c;
  --ifm-color-primary-darker: #d94d4c;
  --ifm-color-primary-darkest: #d94d4c;
  --ifm-color-primary-light: #d94d4c;
  --ifm-color-primary-lighter: #d94d4c;
  --ifm-color-primary-lightest: #d94d4c;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --doc-sidebar-width: 100% !important;
  --ifm-container-width: 100% !important;
  --ifm-container-width-xl: 100% !important;
  --ifm-background-color: #181819;
  --ifm-background-surface-color: #212122;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d94c4c;
  --ifm-color-primary-dark: #d64040;
  --ifm-color-primary-darker: #d33737;
  --ifm-color-primary-darkest: #cc3232;
  --ifm-color-primary-light: #dc5858;
  --ifm-color-primary-lighter: #de6464;
  --ifm-color-primary-lightest: #e67373;
  --docusaurus-highlighted-code-line-bg: #0000004d;
  --ifm-background-color: #181819;
  --ifm-background-surface-color: #212122;
  --ifm-color-info-dark: #781818;
  --ifm-color-info-darker: #711111;
  --ifm-color-info-darkest: #640a0a;
  --ifm-color-info-light: #8a1e1e;
  --ifm-color-info-lighter: #8d2424;
  --ifm-color-info-lightest: #922c2c;
  --ifm-color-info-contrast-background: #201818;
  --ifm-color-info-contrast-foreground: #fdf8f8;
  --ifm-menu-color: var(--ifm-color-emphasis-800);
  --tooltip-background: #1e1c1c;
  --docusaurus-collapse-button-bg: #ffffff0d;
  --docusaurus-collapse-button-bg-hover: #ffffff1a;
  --ifm-color-gray-900: #171819;
  --ifm-color-gray-800: #2c2e30;
  --ifm-color-gray-700: #4e5155;
}

@media (min-width: 997px) {
  .row > *[class*="docItemCol_"] {
    max-width: 100% !important;
  }
  @supports (scrollbar-gutter: stable) {
    .menu.menu {
      padding: 0.5rem 0.25rem 0.5rem 0.5rem;
    }
  }
}

@media (min-width: 1537px) {
  .docSidebarContainer {
    width: 15%;
  }
}

.col.col--3:has(.theme-doc-toc-desktop) {
  max-width: 250px !important;
  width: 250px !important;
  flex: 0 1 250px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navbar__link {
  color: white;
  transition: color 0.3s;
}

.navbar__link:hover {
  color: #d94d4c;
}

.navbar__brand {
  color: white;
  transition: color 0.3s;
}

.navbar__brand:hover  {
  color: #d94d4c;
}

.theme-doc-sidebar-item-link,
.theme-doc-sidebar-item-category .menu__list-item {
  margin-top: 4px;
  margin-bottom: 4px;
}

.menu {
  font-size: .95rem;
}

.menu__list {
    margin: 0;
    padding-left: 0;
}

.menu__link--active,
.menu__link--active:hover {
  color: #d94d4c !important;
  text-decoration: none;
}

.menu__list-item:not(:first-child) {
    margin-top: .25rem;
}

/* === Couleur rouge du texte de la section active dans le fil d’Ariane === */
.breadcrumbs__link--active {
  color: #d94d4c !important; /* rouge vif */
}

/* Devient rouge uniquement au survol */
.breadcrumbs__item:first-child a:hover svg path {
  fill: #d94d4c;
}

/* Bordure rouge au survol */
.pagination-nav__link {
  width: 100%;
  max-width: 804px;
  border: 1px solid #2d2f30;
  border-radius: 12px;
  transition: border-color 0.2s ease;
}

.pagination-nav__link:hover {
  border-color: #d94d4c;
}

/* Titre rouge au hover */
.pagination-nav__link:hover .pagination-nav__label {
  color: #d94d4c !important;
}

.pagination-nav {
  display: flex !important;
  justify-content: flex-end !important; /* <<< met la carte Next à droite */
}

.theme-doc-markdown.markdown {
  max-width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.footer--dark {
    --ifm-footer-background-color: #303846;
    --ifm-footer-color: var(--ifm-footer-link-color);
    --ifm-footer-link-color: var(--ifm-color-secondary);
    --ifm-footer-title-color: var(--ifm-color-white);
}

.footer {
    background-color: var(--ifm-footer-background-color);
    color: var(--ifm-footer-color);
    padding: var(--ifm-footer-padding-vertical) var(--ifm-footer-padding-horizontal);
}

.theme-layout-footer-column.col.footer__col:first-of-type .footer__items.clean-list {
  display: grid !important;
  grid-template-columns: 12.5rem 7.5rem !important;
}
